.clearfix:after {
    content: "";
    display: table;
    clear: both
}

html {
    overflow-y: hidden
}

body {
    overflow-y: hidden;
    background: #000;
    position: relative
}

.content-calendar {
    position: absolute;
    top: -100%;
    left: 0
}

#main-content {
    height: 100%
}

#sport-main {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff
}

#sport-main .left {
    float: left
}

#sport-main .right {
    float: right
}

#sport-main a {
    text-decoration: none
}

#sport-main .overflow {
    overflow: hidden
}

#sport-main .clear {
    clear: both
}

#sport-main .content {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1em;
    background: #000;
    overflow: hidden
}

#sport-main #nav3 {
    position: absolute
}

#sport-main .anchor {
    position: fixed;
    right: 1em;
    top: 50%;
    z-index: 300;
    margin-top: -196px
}

#sport-main .anchor .b-style,#sport-main .anchor .t-btn,#sport-main .anchor .b-btn {
    background: rgba(255,255,255,.2);
    filter: progid:DXImageTransform .Microsoft .gradient(startcolorstr=#33ffffff, endcolorstr=#33ffffff);
    padding: 4px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    right: 0;
    display: none
}

#sport-main .anchor .b-style span,#sport-main .anchor .t-btn span,#sport-main .anchor .b-btn span {
    width: 34px;
    height: 30px;
    display: block
}

#sport-main .anchor .t-btn {
    top: -40px
}

#sport-main .anchor .t-btn span {
    background-repeat: no-repeat;
}

#sport-main .anchor .b-btn {
    bottom: -40px
}

#sport-main .anchor .b-btn span {
    background-repeat: no-repeat;
}

#sport-main .anchor .anchor-con {
    height: 480px;
    width: 115px;
    overflow: hidden;
    position: relative
}

#sport-main .side-nav {
    position: absolute;
    right: 0
}

#sport-main .side-nav span {
    display: none
}

#sport-main .side-nav .add-mallicon {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    z-index: 999999;
    background-repeat: no-repeat;
}

#sport-main .side-nav li {
    background: rgba(255,255,255,.2);
    filter: progid:DXImageTransform .Microsoft .gradient(startcolorstr=#33ffffff, endcolorstr=#33ffffff);
    padding: 4px;
    margin-bottom: 2px;
    position: relative
}

#sport-main .side-nav li a {
    width: 34px;
    height: 30px;
    display: block
}

#sport-main .side-nav li .active {
    background: #ef3b31
}

#sport-main .side-nav .side-img1 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img2 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img3 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img4 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img5 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img6 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img7 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img8 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img9 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img10 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img11 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img12 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img13 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img14 {
    background-repeat: no-repeat;
}

#sport-main .side-nav .side-img15 {
    background-repeat: no-repeat;
}

#sport-main .wrapper-box {
    width: 57.5em;
    position: absolute;
    left: 50%;
    margin-left: -28.75em;
    padding: .3125em 0 .5em;
    height: 13.125em
}

#sport-main .tap-wrapper .tap-per,#sport-main .tap-wrapper .tap-next {
    top: 0;
    position: absolute;
    display: block;
    width: 28px;
    height: 84px;
    top: 50%;
    margin-top: -42px
}

#sport-main .wrapper-box {
    z-index: 20;
    bottom: 3.5em
}

#sport-main .wrapper-box .close-wrapper {
    width: 30px;
    height: 78px;
    position: absolute;
    right: -30px;
    top: 0;
    background-repeat: no-repeat;
}

#sport-main .wrapper-box .close-wrapper:hover {
    cursor: pointer;
    background-repeat: no-repeat;
}

#sport-main .wrapper-box .free-wrapper {
    width: 48px;
    height: 123px;
    position: absolute;
    right: -48px;
    bottom: 0
}

#sport-main .wrapper-box .free-wrapper a {
    display: block;
    width: 30px;
    height: 123px;
    background-repeat: no-repeat;
}

#sport-main .wrapper-box .free-wrapper span {
    display: block;
    position: absolute;
    right: 0;
    bottom: 111px;
    z-index: 22;
    width: 24px;
    height: 16px;
    background-repeat: no-repeat;
}

#sport-main .tap-wrapper {
    background: rgba(0,0,0,.65);
    filter: progid:DXImageTransform .Microsoft .gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
    transform: scale(1);
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%
}

#sport-main .tap-wrapper .tap-per {
    left: 1em;
    background-repeat: no-repeat;
}

#sport-main .tap-wrapper .tap-per .no {
    cursor: default;
    background-repeat: no-repeat;
}

#sport-main .tap-wrapper .tap-next {
    right: 1em;
    background-repeat: no-repeat;
}

#sport-main .tap-wrapper .tap-next .no {
    cursor: default;
    background-repeat: no-repeat;
}

#sport-main .tap-wrapper .tab-scroll {
    width: 50.3125em;
    margin: 0 auto;
    overflow: hidden
}

#sport-main .tap-wrapper .tab-scroll .width-50em {
    width: 50em
}

#sport-main .tap-wrapper .tab-scroll .tab-total {
    width: 200em;
    position: relative
}

#sport-main .tap-wrapper .tab-scroll .tab-content {
    height: 12.5em;
    overflow: hidden;
    display: inline-block
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left {
    float: left;
    overflow: hidden;
    height: 12.5em
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab_head {
    width: 100%;
    border-left: .1875em solid #ffa800;
    height: 2.8125em
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab_head h2 {
    width: 30.625em;
    height: 1.125em;
    margin-left: .375em;
    color: #ffa800;
    font-size: 1.125em
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab_head a {
    display: block;
    width: 30.625em;
    margin-top: .2em;
    margin-left: .375em;
    font-size: 1em;
    color: #fff;
    height: 1.375em;
    overflow: hidden
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab_head .tab-border {
    margin-top: .25em;
    width: 30.625em;
    height: .125em;
    margin-left: .125em;
    background: url(http://i1.letvimg.com/lc03_iscms/201509/19/15/51/4d90368cf1994bf8872c4a6ff6bba32d.jpg) repeat-x
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab_head .ad_gm_tab {
    position: relative;
    float: right;
    right: 4em;
    width: 5em
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab_head .ad_gm_tab a {
    overflow: visible
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab-hot {
    width: 6.75em;
    height: 1.125em;
    margin: .75em 0 .25em;
    font-size: 1em;
    color: #ffa800;
    font-weight: 700;
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab-hot-lit {
    width: 100%;
    height: 7.5em
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab-hot-lit .tab-hot-list-box {
    width: 11.0625em;
    position: relative;
    height: 100%;
    float: left;
    background: #333;
    margin-right: .3125em
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab_left .tab-hot-lit .tab-hot-list-box:hover .tab-hot-list-indent {
    display: block
}

#sport-main .tap-wrapper .tab-scroll .tab-content .tab-righth {
    overflow: hidden
}

#sport-main .open-wrapper {
    width: 30px;
    height: 78px;
    position: absolute;
    left: 0;
    bottom: 3.5em;
    z-index: 100;
    display: none;
    background-repeat: no-repeat;
}

#sport-main .open-wrapper:hover {
    cursor: pointer;
    background-repeat: no-repeat;
}

#sport-main .mwidth {
    width: 34.25em
}

#sport-main .mtwowidth {
    width: 16.625em;
    height: 12.5em;
    overflow: hidden
}

#sport-main .tab-hot-list-title {
    width: 100%;
    height: 1.25em;
    background: #ef3b31;
    overflow: hidden
}

#sport-main .tab-title-right {
    font-size: .75em;
    color: #fff;
    height: 100%;
    padding-left: 1em
}

#sport-main .tab-over {
    padding: .1em .375em;
    text-align: center;
    font-size: .75em;
    color: #fff;
    background: #939292;
    width: 3.75em
}

#sport-main .tab-ing {
    color: #fff;
    font-size: .75em;
    width: 7.875em;
    overflow: hidden;
    letter-spacing: .0625em
}

#sport-main .tab-ing span {
    padding: .1em .375em;
    text-align: center;
    background: #ee6e5e;
    width: 3em
}

#sport-main .tab-center-change {
    width: 8.75em;
    margin-top: .625em;
    font-size: .75em;
    line-height: 1.5em;
    color: #fff;
    overflow: hidden;
    letter-spacing: .0625em
}

#sport-main .tab-matching {
    background: #333;
    overflow: hidden
}

#sport-main .tab-match-box {
    margin-top: .5em
}

#sport-main .tab-match-box dl {
    width: 4.2em
}

#sport-main .w67 {
    width: 4.1875em;
    overflow: hidden
}

#sport-main .w41 {
    width: 2.5625em;
    overflow: hidden
}

#sport-main .tab-match-box dt {
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
    margin: 0 auto;
    background: #88939d;
    position: relative
}

#sport-main .tab-match-box dt img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

#sport-main .tab-match-box dd {
    margin-top: .625em;
    text-align: center;
    font-size: .75em;
    color: #fff;
    letter-spacing: .0625em
}

#sport-main .tab-match-center1 {
    font-size: .75em;
    padding: .1em 0;
    line-height: 1em;
    background: #ee6e5e;
    text-align: center;
    color: #fff
}

#sport-main .tab-match-center2 {
    font-size: 1em;
    color: #fff;
    margin-top: .125em;
    text-align: center
}

#sport-main .tab-match-center3 {
    font-size: 1.125em;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-top: .8em
}

#sport-main .m-right {
    margin-right: .3em
}

#sport-main .tab-text1 {
    color: #ffa800;
    font-size: 18px;
    font-weight: 700
}

#sport-main .tab-left-add .hot-main {
    display: block;
    background: #fff;
    padding: .3125em
}

#sport-main .tab-left-add .hot-main .hot-main-img2 {
    width: 8.9em;
    overflow: hidden
}

#sport-main .tab-left-add .hot-main .hot-main-img2 .imgrelative {
    position: relative;
    overflow: hidden;
    height: 100%
}

#sport-main .tab-left-add .hot-main .hot-main-img2 img {
    display: block;
    width: 100%;
    height: 4.9375em
}

#sport-main .tab-left-add .hot-main .hot-main-img2 .last-none {
    margin-top: .25em
}

#sport-main .tab-right {
    float: right;
    width: 16em;
    height: 12.5em;
    overflow: hidden
}

#sport-main .tab-right h2 {
    font-weight: 700;
    font-size: 18px;
    color: #ffa800
}

#sport-main .hot-main {
    display: block;
    margin-top: .25em;
    background: #fff;
    padding: .3125em;
    line-height: 1.4;
    height: 10.75em
}

#sport-main .tab-content-width {
    width: 53.3125em
}

#sport-main .hot-main-info {
    display: block;
    overflow: hidden;
    color: #0c161e;
    font-size: .7em;
    margin-bottom: .625em;
    background: #e5e5e5
}

#sport-main .hot-main-info img {
    float: left;
    width: 6.125em;
    height: 3.8125em;
    margin-right: .5em
}

#sport-main .hot-main-info .hot-main-info-right {
    display: inline-block;
    width: 12.685em;
    box-sizing: border-box;
    padding: 5px;
    height: 3.8125em
}

#sport-main .hot-main-info .hide {
    display: none
}

#sport-main .hot-simple-info .hide {
    display: none
}

#sport-main .add-bottom {
    padding-bottom: .48em
}

#sport-main .tab-two1_box {
    width: 100%;
    height: 1.25em;
    background: #ef3b31
}

#sport-main .tab-two1_box span {
    display: inline-block;
    *display: block;
    *zoom:1;vertical-align: middle;
    height: 1.625em;
    line-height: 1.625em;
    color: #fff;
    font-size: .75em
}

#sport-main .tab-two1 {
    padding-left: 1.25em;
    margin-left: .625em;
    margin-right: .6em
}

#sport-main .tab-two2_box {
    width: 100%;
    height: 3.375em;
    background: #333;
    overflow: hidden;
    padding-top: .6em
}

#sport-main .tab-two2_box span {
    display: block;
    float: left
}

#sport-main .tab-two2_1 {
    width: 2.3125em;
    height: 2.3125em;
    border-radius: 50%;
    margin-left: 1.8em;
    background: #fff;
    position: relative
}

#sport-main .tab-two2_1 img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

#sport-main .tab-two2_2 {
    left: 6em;
    top: 1em;
    font-size: .75em;
    color: #fff;
    width: 13.125em;
    margin-left: 8px
}

#sport-main .margin-top {
    margin-top: .5em
}

#sport-main .tab-two3_1 {
    display: inline-block;
    width: 5.0625em;
    overflow: hidden;
    margin-top: .25em
}

#sport-main .tab-two3_1 dt {
    text-align: center;
    width: 2.1875em;
    height: 2.1875em;
    border-radius: 50%;
    background: #fff;
    position: relative;
    margin: 0 auto
}

#sport-main .tab-two3_1 dt img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

#sport-main .tab-two3_1 dd {
    text-align: center;
    border-radius: .5em;
    font-size: 12px;
    color: #fff;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .0625em;
    padding-top: .1875em
}

#sport-main .tab-two2_change {
    background: #333;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: .125em
}

#sport-main .tab-two3_2 {
    color: #fff;
    font-size: 1em;
    display: inline-block;
    vertical-align: top;
    width: 4.9375em;
    overflow: hidden
}

#sport-main .tab-two3_2 span {
    margin-top: .625em;
    display: inline-block;
    width: 100%
}

#sport-main .tab-two3_2 i {
    font-size: .75em;
    font-weight: 400;
    display: inline-block;
    width: 100%
}

#sport-main .hot-main-img1 {
    width: 6.7em;
    position: relative;
    height: 10.125em;
    overflow: hidden
}

#sport-main .hot-main-img1 img {
    display: block;
    width: 6.7em;
    height: 100%
}

#sport-main .hot-main-img1-indent,#sport-main .hot-main-img2-indent {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -200px;
    background: rgba(239,59,49,.9);
    filter: progid:DXImageTransform .Microsoft .gradient(startcolorstr=#54ef3b31, endcolorstr=#54ef3b31);
    font-size: 13px;
    padding: 5px;
    width: 100%
}

#sport-main .hidden-hot-img a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%
}

#sport-main .banner-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative
}

#sport-main .banner-box a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}

#sport-main #banner2 {
    width: 100%;
    height: 100%
}

#sport-main #banner3 {
    width: 100%;
    height: 100%
}

#sport-main #banner3 li {
    width: 20%;
    height: 100%
}

#sport-main .nav-search-right {
    position: absolute;
    right: 6.25em;
    top: 0
}

#sport-main .nav-search-right .nav-login {
    float: right
}

#sport-main .nav-search-right .nav-login span {
    height: 51px;
    line-height: 3.1875em;
    color: #fff
}

#sport-main .nav-search-right .nav-login a {
    color: #fff
}

.side-img2-hover {
    display: block;
    position: absolute;
    left: -70px;
    top: 0;
    height: 38px;
    background: #ef3b31;
    color: #fff;
    font-size: 12px;
    line-height: 38px;
    width: 116px
}

.side-img2-hover .str {
    display: inline-block;
    *display: inline;
    *zoom:1;width: 32px;
    height: 30px;
    float: left;
    margin-top: 4px
}

.side-img2-hover .strong-1 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong0 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong1 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong2 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong3 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong4 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong5 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong6 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong7 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong8 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong9 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong10 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong11 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong12 {
    background-repeat: no-repeat;
}

.side-img2-hover .strong13 {
    background-repeat: no-repeat;
}

.side-img2-hover .side-img12:hover {
    background: #ef3b31
}

.side-img2-hover .strong {
    overflow: hidden;
    display: block;
    text-align: left;
    padding-right: 12px;
    font-size: 14px
}

.m-rightadd {
    margin-right: .2em
}

h1 {
    font-weight: 400
}

.smallpic-area {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 20
}

.small-scroll-img {
    display: inline-block
}

.small-scroll-img li {
    display: inline-block;
    width: 6.34em;
    height: 3.7em;
    border: 1px solid #6c6c75;
    background: #131516;
    cursor: pointer;
    position: relative;
    bottom: -15px
}

.small-scroll-img li img {
    width: 100%;
    height: 100%
}

#sport-main .side-nav .side-img10-hover {
    display: none;
    position: absolute;
    left: -74px;
    top: 0;
    width: 87px;
    height: 115px;
    background-repeat: no-repeat;
}

.cover-add {
    position: relative;
    cursor: pointer
}

.cover-add .three {
    text-align: center
}

.cover-add .three .tab-hot-list-indent1,.cover-add .three .tab-hot-list-indent2 {
    display: inline-block;
    *display: block;
    *zoom:1;margin-top: .5em
}

.cover-add .three .tab-hot-list-indent1 dt,.cover-add .three .tab-hot-list-indent2 dt {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center
}

.cover-add .three .tab-hot-list-indent1 span,.cover-add .three .tab-hot-list-indent2 span {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-top: 1.08em
}

.cover-add .three .tab-hot-list-indent1 dd,.cover-add .three .tab-hot-list-indent2 dd {
    text-align: center;
    font-size: .75em;
    color: #fff;
    margin-top: .5em
}

.cover-add .three .tab-hot-list-indent2 dt {
    background: 0 0
}

.one-addheight {
    margin-top: .25em;
    background: #333;
    height: 5.25em
}

.two-addheight {
    margin-top: .25em;
    height: 5.25em;
    background: #333
}

.letv-hot-main {
    overflow: hidden;
    padding: 10px
}

.letv-hot-main p .first {
    font-size: .875em;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: .25em
}

.letv-hot-main p .first a {
    color: #333;
    font-weight: 400;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-size: 1em;
    font-weight: 700
}

.letv-hot-main .txtList {
    overflow: hidden;
    padding: 0 .25em
}

.letv-hot-main .txtList a {
    line-height: 1.375em;
    color: #666;
    font-size: .75em
}

.letv-hot-main .txtList a:hover {
    color: #ef3b31
}

.join-info-total {
    width: 57.5em;
    background: rgba(0,0,0,.4);
    filter: progid:DXImageTransform .Microsoft .gradient(startcolorstr=#66000000, endcolorstr=#66000000);
    position: absolute;
    left: 50%;
    margin-left: -28.75em;
    bottom: 17.475em;
    padding-bottom: 10px;
    z-index: 25;
    display: none
}

.join-info-total h3 {
    margin: .5em 1em .2em
}

.join-info-total h3 a {
    font-size: 1.5625em;
    color: #fff;
    display: block;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.join-info-total p {
    margin: 0 1em
}

.join-info-total p a {
    color: #fff;
    font-size: .875em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    display: block;
    text-align: left
}

@media only screen and (min-width: 1500px) {
    .two-addheight {
        height:5.55em
    }

    .one-addheight {
        height: 5.55em
    }

    .hot-main-img1 {
        height: 10.45em
    }

    .hot-main-img2 img {
        height: 5.1em
    }
}

@media only screen and (max-width: 1500px) {
    #sport-main .tab-two3_1 {
        width:5.0625em
    }

    #sport-main .tab-two3_1 dt {
        margin-top: 0
    }

    #sport-main .tab-two3_1 dd {
        margin-top: 0
    }
}

#sport-main .wrapper-box .free-wrapper a {
    background-position: 0px 0px
}

#sport-main .side-nav .side-img10-hover {
    background-position: -35px 0px
}

#sport-main .tap-wrapper .tap-per {
    background-position: -127px 0px
}

#sport-main .tap-wrapper .tap-per .no {
    background-position: -160px 0px
}

#sport-main .tap-wrapper .tap-next {
    background-position: -193px 0px
}

#sport-main .tap-wrapper .tap-next .no {
    background-position: 0px -128px
}

#sport-main .wrapper-box .close-wrapper {
    background-position: -33px -128px
}

#sport-main .wrapper-box .close-wrapper:hover {
    background-position: -68px -128px
}

#sport-main .open-wrapper:hover {
    background-position: -103px -128px
}

#sport-main .open-wrapper {
    background-position: -138px -128px
}

#sport-main .side-nav .side-img8 {
    background-position: -173px -128px
}

.side-img2-hover .strong6 {
    background-position: -173px -128px
}

#sport-main .side-nav .side-img9 {
    background-position: -173px -163px
}

.side-img2-hover .strong7 {
    background-position: -173px -163px
}

#sport-main .side-nav .side-img10 {
    background-position: -226px 0px
}

.side-img2-hover .strong8 {
    background-position: -226px 0px
}

#sport-main .side-nav .side-img11 {
    background-position: -226px -35px
}

.side-img2-hover .strong9 {
    background-position: -226px -35px
}

#sport-main .anchor .b-btn span {
    background-position: -226px -70px
}

#sport-main .side-nav .side-img12 {
    background-position: -226px -70px
}

.side-img2-hover .strong10 {
    background-position: -226px -70px
}

#sport-main .side-nav .side-img14 {
    background-position: -226px -105px
}

.side-img2-hover .strong12 {
    background-position: -226px -105px
}

#sport-main .side-nav .side-img15 {
    background-position: -226px -140px
}

.side-img2-hover .strong13 {
    background-position: -226px -140px
}

#sport-main .anchor .t-btn span {
    background-position: -226px -175px
}

#sport-main .side-nav .side-img1 {
    background-position: 0px -217px
}

.side-img2-hover .strong-1 {
    background-position: 0px -217px
}

#sport-main .side-nav .side-img2 {
    background-position: -39px -217px
}

.side-img2-hover .strong0 {
    background-position: -39px -217px
}

#sport-main .side-nav .side-img3 {
    background-position: -78px -217px
}

.side-img2-hover .strong1 {
    background-position: -78px -217px
}

#sport-main .side-nav .side-img4 {
    background-position: -117px -217px
}

.side-img2-hover .strong2 {
    background-position: -117px -217px
}

#sport-main .side-nav .side-img5 {
    background-position: -156px -217px
}

.side-img2-hover .strong3 {
    background-position: -156px -217px
}

#sport-main .side-nav .side-img6 {
    background-position: -195px -217px
}

.side-img2-hover .strong4 {
    background-position: -195px -217px
}

#sport-main .side-nav .side-img7 {
    background-position: -265px 0px
}

.side-img2-hover .strong5 {
    background-position: -265px 0px
}

#sport-main .side-nav .side-img13 {
    background-position: -265px -35px
}

.side-img2-hover .strong11 {
    background-position: -265px -35px
}

#sport-main .side-nav .add-mallicon {
    background-position: -265px -70px
}

#sport-main .wrapper-box .free-wrapper span {
    background-position: -265px -99px;
}

#sport-main .wrapper-box .free-wrapper a,#sport-main .side-nav .side-img10-hover,#sport-main .tap-wrapper .tap-per,#sport-main .tap-wrapper .tap-per .no,#sport-main .tap-wrapper .tap-next,#sport-main .tap-wrapper .tap-next .no,#sport-main .wrapper-box .close-wrapper,#sport-main .wrapper-box .close-wrapper:hover,#sport-main .open-wrapper:hover,#sport-main .open-wrapper,#sport-main .side-nav .side-img8,.side-img2-hover .strong6,#sport-main .side-nav .side-img9,.side-img2-hover .strong7,#sport-main .side-nav .side-img10,.side-img2-hover .strong8,#sport-main .side-nav .side-img11,.side-img2-hover .strong9,#sport-main .anchor .b-btn span,#sport-main .side-nav .side-img12,.side-img2-hover .strong10,#sport-main .side-nav .side-img14,.side-img2-hover .strong12,#sport-main .side-nav .side-img15,.side-img2-hover .strong13,#sport-main .anchor .t-btn span,#sport-main .side-nav .side-img1,.side-img2-hover .strong-1,#sport-main .side-nav .side-img2,.side-img2-hover .strong0 {
    background-image: url(http://i1.letvimg.com/lc05_iscms/201606/13/17/41/a3da244f2c66422598660a2fd5ee5c1f.png)
}

#sport-main .side-nav .side-img3,.side-img2-hover .strong1,#sport-main .side-nav .side-img4,.side-img2-hover .strong2,#sport-main .side-nav .side-img5,.side-img2-hover .strong3,#sport-main .side-nav .side-img6,.side-img2-hover .strong4,#sport-main .side-nav .side-img7,.side-img2-hover .strong5,#sport-main .side-nav .side-img13,.side-img2-hover .strong11,#sport-main .side-nav .add-mallicon,#sport-main .wrapper-box .free-wrapper span {
    background-image: url(http://i1.letvimg.com/lc05_iscms/201606/13/17/41/a3da244f2c66422598660a2fd5ee5c1f.png);
}
